body{
    background-color:navy;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* container for the two sections */
.sections{
    display:flex;
    justify-content:center;
    gap:120px;
    margin-top:180px;
}

.mains, .extra{
    text-align:center;
}

h1{
    color:pink;
}

h2{
    border:5px dashed hotpink;
    background-color: pink;
    font-family:Impact;
    color:hotpink;
    padding:15px;
    border-radius:15px;
    width:250px;
    margin:15px auto;
}

h2:hover{
    border:5px dashed pink;
    background-color: white;
    color:hotpink;
}

/* Toggle theme button bottom right */
.theme-btn{
    position:fixed;
    bottom:20px;
    right:20px;
    padding:10px 20px;
    border:none;
    border-radius:8px;
    background:hotpink;
    color:white;
    cursor:pointer;
}
